# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Envs
.env
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Secrets (never commit)
token.pickle
credentials.json
*.json

# Editor
.vscode/
.idea/

# Local files
run_local_cmd.bat